.Hlavni {
  width: 100%;
  /* background-color: aqua; */
  padding: 25px;
  overflow-y: scroll;
}

.Slogan {
  text-align: center;
    /* background-color: aqua; */
}

/* stomatologická péče */
.Slogan h1 {
  text-transform: uppercase;
  color: #17252a;
  font-size: 28px;
}

/* Zdraví vašich zubů je naší prioritou */
.Slogan h2 {
  color: #3aafa9;
  font-size: 18.7px;
}

/* Zubní ordinace v Kuřimi */
.Slogan h6 {
  font-size: 27px;
  color: #2b7a78;
  line-height: 1.5em;
  /* outline: 1px solid green; */
}

.Main-Photo {
  width: 130px;
}

.Doctor-info {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  padding-left: 10px;
  /* outline: 1px solid red; */
  position: relative;
}

.Doctor-info::after {
  content: '';
  width: 375px;
  height: 80px;
  background-color: #def2f1;
  position: absolute;
  top: 20px;
  left: -25px;
  z-index: -999;
}

.Doctor-info-name {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-bottom: 7px;
  /* outline: 1px solid red; */
}

/* Anastasiia */
.Doctor-info-name h3 {
  font-size: 34px;
  /* outline: 1px solid blue; */
}

/* Neuimina */
.Doctor-info-name h4 {
  font-size: 36px;
  line-height: 1em;
  /* outline: 1px solid yellow; */
}

/* Lékař stomatolog */
.Doctor-info-name h5 {
  font-size: 20px;
  margin-top: 5px;
  color: #2b7a78;
  /* outline: 1px solid red; */
}

.Info {
  text-align: center;
  /* outline: 1px solid red;  */
}

/* Provádíme bezbolestné */
.Info-first {
  margin-bottom: 5px;
  color: #3aafa9;
  font-size: 19.5px;
}

/* Dovolujeme Vás informovat */
.Info-second {
  color: #17252a;
  font-size: 16px;
  background-color: #def2f1;
  padding: 15px;
}