.Slogan {
    text-align: center;
    padding-top: 0px;
    position: relative;
  }
  
  /* stomatologická péče */
  .Slogan h1 {
    text-transform: uppercase;
    color: #17252a;
    font-size: 27px;
  }
  
  /* Zdraví vašich zubů je naší prioritou */
  .Slogan h2 {
    color: #3aafa9;
    font-size: 18.5px;
  }

  .Slogan::before {
    content: '';
    outline: 3px solid #def2f1;
    width: 100vw;
    height: 70px;
    background-color: #def2f1;
    position: absolute;
    top: 75px;
    left: -100px;
    z-index: -999;
  }
  
  .Logo-woman {
    width: 170px;
    margin-top: 5px;
  }
  
  /* all */
  .Doctor-info{
    display: flex;
    flex-direction: row;
    align-items: end;
    position: relative;
    /* outline: 1px solid red; */
  }
  
  .Doctor-info-name {
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    /* outline: 1px solid red; */
  }
  
  /* Zubní ordinace v Kuřimi */
  .Doctor-info-name h6 {
    position: absolute;
    top: 25px;
    right: 0;
    white-space: pre-line;
    text-align: right;
    font-size: 25px;
    color: #2b7a78;
    /* outline: 1px solid green; */
  }
  
  /* Anastasiia */
  .Doctor-info-name h3{
    font-size: 22px;
    /* outline: 1px solid blue; */
  }
  
  /* Neuimina */
  .Doctor-info-name h4{
    font-size: 27px;
    line-height: 1em;
    /* outline: 1px solid yellow; */
  }
  
  /* Lékař stomatolog */
  .Doctor-info-name h5{
    font-size: 17px;
    margin-top: 5px;
    color: #2b7a78;
    /* outline: 1px solid red; */
  }

  .Info {
    text-align: center;
  }

  /* Provádíme bezbolestné */
  .Info-first{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #3aafa9;
    font-size: 19.5px;
  }

  /* Dovolujeme Vás informovat */
  .Info-second {
    color: #17252a;
    font-size: 16px;
    background-color: #def2f1;
    padding: 10px;
  }
  